<h1>CHAPTER REDUX ANGULAR</h1>
<div id="container">
  <div class="row">
    <div class="col-12" *ngIf="car!==undefined || car!==null">
      <!-- <img class="card-img-top" [src]="car.image" alt="Card image cap"> -->
      <label>{{car.name}}</label>
      <input type="text" [(ngModel)]="newDescription">
      <button (click)="edit()" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</div>
