#cars-container{
    width: 100%;
    text-align: justify;
}

h1{
    text-align: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.card{
    /* max-height: 40px; */
}

.card-title{
    flex: auto;
    text-align: justify;
}

.card-text{
    flex: auto;
    text-align: justify;
}

#btn-left{
    margin-left: 10%;
}

#btn-right{
    margin-left: 20%;
}



.my-card__media {
    background-image: url("../../../../assets/img/mustang.jpg");
}

.prueba{
    display: flex;
    align-items: baseline;
}