<h1>CHAPTER REDUX ANGULAR</h1>
<div class="container">
  <div class="row d-flex align-items-center prueba">
    <div class="col-4" *ngFor="let car of (cars$ | async)">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" [src]="car.image" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{car.name}}</h2>
          <p class="card-text">{{car.description}}
          </p>
          <div class="row">
            <button id="btn-left" (click)=" goToProductView(car.id)" class="col-3 btn btn-primary">Editar</button>
            <button id="btn-right" (click)=" deleteCar(car)" class="col-3 btn btn-danger">Borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
